Django==1.11.29
Pillow==4.3.0
backports-abc==0.5
chardet==2.2.1
colorama==0.2.5
command-not-found==0.3
django-multiselectfield==0.1.8
django-sockjs-server==0.1.9
django-webpack-loader==0.5.0
djangorestframework==3.6.4
html5lib==0.999
jss==0.1.0
language-selector==0.1
mod-wsgi==4.5.20
node==0.9.22
odict==1.6.2
olefile==0.44
pika==0.11.0
plumber==1.5
pycurl==7.19.3
pygobject==3.12.0
pyjsonselect==0.2.2
python-apt==0.9.3.5ubuntu2
pytz==2017.2
requests==2.2.1
six==1.5.2
sockjs-tornado==1.0.3
tornado==4.5.2
ufw==0.34-rc-0ubuntu2
unattended-upgrades==0.1
urllib3==1.7.1
wheel==0.24.0
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.4.3
zope.lifecycleevent==4.2.0
